<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('头部')"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body>
<div class="footer">
    <div class="footer-wrap">
        <div class="foot-info">
            <div class="info"><span>友情链接：</span>
                <a href="http://http://www.cqrk.edu.cn" target="_blank">学校主页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="http://http://www.cqrk.edu.cn" target="_blank">招生办</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="http://http://www.cqrk.edu.cn" target="_blank">教务处</a>
                <div class="bk"></div>
            </div>
            <div class="info"><span>联系地址：</span>
                学校地址：重庆市合川区草街151号邮编：35000 联系电话：(023)65611126161（党政办） (023)65611126161（招生处）
                <div class="bk"></div>
            </div>
            <div class="info">
                Copyright @2013-2015 重庆人文科技学院就业指导中心
                <div class="bk"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>